In [1]:
import os
import pandas as pd

In [2]:
noWordsLen = {2: [], 3: [], 4: [], 5: []}

In [3]:
numWordsArr = [2, 2, 4, 5, 5, 5, 5, 3, 3, 2, 4, 3, 2, 2, 3, 3, 2, 4, 3, 3, 4, 2, 3, 5, 5, 5, 2, 2, 4, 4, 5, 4, 3, 2, 3, 3, 3, 3, 2, 2, 2, 3, 2, 2, 2, 2, 4, 2, 2, 3]
numWordsDict = {i+1: numWordsArr[i] for i in range(50)}

In [4]:
dataset_path = r"C:\Users\user\Downloads\Dataset (3)\03"            # make sure it points directly to the participant folder

train_path = os.path.join(dataset_path, 'train')

for sentence_folder in os.listdir(train_path):
    sentence_path = os.path.join(train_path, sentence_folder)
    idx = int(os.path.basename(sentence_path))
    

    gray_folders = [os.path.join(sentence_path, item) for item in os.listdir(sentence_path) if os.path.isdir(os.path.join(sentence_path, item))]

    for gray_fold in gray_folders:
        scan = os.scandir(gray_fold)
        noWords = numWordsDict[idx]
        noWordsLen[noWords].append(sum(1 for entry in scan))

In [7]:
df = pd.DataFrame.from_dict(noWordsLen, orient='index').transpose()
excel_file_path = 'Dataset Excel Sheets/Frames for P3.xlsx'           # rename the excel sheet with the participant's name
df.to_excel(excel_file_path, index=False, header=True)

In [8]:
# copy this output into your excel sheet please
df.describe()

                2           3           4           5
count  538.000000  374.000000  204.000000  218.000000
mean    75.985130  106.516043  136.990196  163.949541
std     14.448772   19.459823   24.861982   37.656490
min     42.000000   68.000000   83.000000   94.000000
25%     66.000000   91.000000  124.500000  136.000000
50%     75.000000  107.000000  138.000000  160.000000
75%     86.000000  117.000000  150.000000  185.000000
max    123.000000  170.000000  210.000000  284.000000