In [2]:
import os
import pandas as pd

In [3]:
noWordsLen = {2: [], 3: [], 4: [], 5: []}

In [4]:
numWordsArr = [2, 2, 4, 5, 5, 5, 5, 3, 3, 2, 4, 3, 2, 2, 3, 3, 2, 4, 3, 3, 4, 2, 3, 5, 5, 5, 2, 2, 4, 4, 5, 4, 3, 2, 3, 3, 3, 3, 2, 2, 2, 3, 2, 2, 2, 2, 4, 2, 2, 3]
numWordsDict = {i+1: numWordsArr[i] for i in range(50)}

In [5]:
dataset_path = r"C:\Users\zaher.salman\Desktop\LINA JAN 24\Senior II\ArabSign Dataset P6\06" #make sure it points directly to the participant folder

train_path = os.path.join(dataset_path, 'train')

for sentence_folder in os.listdir(train_path):
    sentence_path = os.path.join(train_path, sentence_folder)
    idx = int(os.path.basename(sentence_path))
    

    gray_folders = [os.path.join(sentence_path, item) for item in os.listdir(sentence_path) if os.path.isdir(os.path.join(sentence_path, item))]

    for gray_fold in gray_folders:
        scan = os.scandir(gray_fold)
        noWords = numWordsDict[idx]
        noWordsLen[noWords].append(sum(1 for entry in scan))

In [15]:
df = pd.DataFrame.from_dict(noWordsLen, orient='index').transpose()
excel_file_path = 'frames for P6.xlsx' #rename the excel sheet with the participant's name
df.to_excel(excel_file_path, index=False, header=True)

In [18]:
# copy this output into your excel sheet please
df.describe()

                2           3           4           5
count  461.000000  364.000000  193.000000  194.000000
mean    79.464208  121.500000  149.435233  173.304124
std     13.812617   22.308444   24.619970   35.705550
min     41.000000   67.000000   54.000000  109.000000
25%     71.000000  110.000000  134.000000  146.000000
50%     78.000000  124.000000  150.000000  165.000000
75%     87.000000  137.000000  165.000000  206.750000
max    122.000000  174.000000  211.000000  252.000000